# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
.env.*

# Builds
dist/
build/
*.whl
*.tar.gz
*.exe

# PyInstaller/Spec
*.spec

# Datos/audio/logs
archive/
*.log
logs/
*.m4a
*.mp3
*.wav
ping_*.txt
